<a href="https://colab.research.google.com/github/vaibhav1234-pixel/web-scraping/blob/main/webscraping_wiki.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup as bs

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_by_revenue'

page = requests.get(url)

soup = bs(page.text, 'html')

In [3]:
# print(soup)

In [4]:
table = soup.find_all('table')[0]
# print(table)

In [5]:
trs = table.find_all('tr')[0]
titles = trs.find_all('th')

In [6]:
header = [title.text.strip() for title in titles]
header[6] = 'Headquarters'
header = header[:7]
print(header)

['Rank', 'Ram', 'Industry', 'Revenue', 'Profit', 'Employees', 'Headquarters']

In [7]:
import pandas as pd

df = pd.DataFrame(columns = header)
df

Empty DataFrame
Columns: [Rank, Ram, Industry, Revenue, Profit, Employees, Headquarters]
Index: []

In [8]:
rows = table.find_all('tr')[2:]

for row in rows:

  th = row.find('th')
  rank = th.text.strip()
  td = row.find_all('td')
  data = [dt.text.strip() for dt in td]
  data.insert(0,rank)
  data = data[:7]
  # print(data)
  length = len(df)
  df.loc[length] = data

df = df.drop_duplicates()
df

,Rank,Ram,Industry,Revenue,Profit,Employees,Headquarters
0,1,Walmart,Retail,"$648,125","$15,511","2,100,000",United States
1,2,Amazon,Retail information technology,"$574,785","$30,425","1,525,000",United States
2,3,State Grid Corporation of China,Electricity,"$545,948","$9,204","1,361,423",China
3,4,Saudi Aramco,Oil and gas,"$494,890","$129,699","73,311",Saudi Arabia
4,5,China Petrochemical Corporation,Oil and gas,"$429,700","$9,393","513,434",China
5,6,China National Petroleum Corporation,Oil and gas,"$476,000","$25,250","1,026,301",China
6,7,Vitol,Commodities,"$400,000","$13,000","1,560",Switzerland
7,8,Apple,Information technology,"$383,482","$96,995","161,000",United States
8,9,UnitedHealth Group,Healthcare,"$371,622","$22,381","440,000",United States
9,10,Berkshire Hathaway,Financials,"$364,482","$96,223","396,500",United States
10,11,CVS Health,Healthcare,"$357,776","$8,344","259,500",United States
11,12,Volkswagen Group,Automotive,"$348,408","$17,945","684,025",Germany
12,13,ExxonMobil,Oil and gas,"$344,582","$36,010","61,500",United States
13,14,Shell,Oil and gas,"$323,183","$19,359","103,000",United Kingdom
14,15,China State Construction Engineering,Construction,"$320,431","$4,272","382,894",China
15,16,Toyota,Automotive,"$312,018","$34,214","380,793",Japan
16,17,McKesson,Healthcare,"$308,951","$3,002","48,000",United States
17,18,Alphabet,Information technology,"$307,394","$73,795","182,502",United States
18,19,Cencora,Healthcare,"$262,173","$1,745","44,000",United States
19,20,Microsoft,Information technology,"$245,122","$88,136","228,000",United States
20,21,Trafigura,Commodities,"$244,280","$7,393","12,479",Singapore
21,22,Costco,Retail,"$242,290","$6,292","316,000",United States
22,23,JPMorgan Chase,Financials,"$239,425","$49,552","309,926",United States
23,24,Industrial and Commercial Bank of China,Financials,"$222,484","$51,417","419,252",China
24,25,TotalEnergies,Oil and gas,"$218,945","$21,384","102,579",France
25,26,Glencore,Commodities,"$217,829","$4,280","83,426",Switzerland
26,27,BP,Oil and gas,"$213,032","$15,239","79,400",United Kingdom
27,28,Cardinal Health,Healthcare,"$205,012",$261,"47,520",United States
28,29,Stellantis,Automotive,"$204,908","$20,103","258,275",Netherlands
29,30,Chevron,Oil and gas,"$200,949","$21,369","45,600",United States
30,31,China Construction Bank,Financials,"$199,826","$46,990","376,871",China
31,32,Samsung Electronics,Electronics,"$198,257","$11,082","267,860",South Korea
32,33,Foxconn,Electronics,"$197,876","$4,563","621,393",Taiwan
33,34,Cigna,Healthcare,"$195,265","$5,164","71,413",United States
34,35,Agricultural Bank of China,Financials,"$192,398","$38,049","451,003",China
35,36,Schwarz Gruppe,Retail,"$180,576","$16,988","575,000",Germany
36,37,China Railway Engineering Corporation,Construction,"$178,563","$2,152","314,149",China
37,38,Cargill,Conglomerate,"$177,000","$17,641","160,000",United States
38,39,Ford Motor Company,Automotive,"$176,191","$4,347","177,000",United States
39,40,Bank of China,Financials,"$172,328","$32,758","306,931",China
40,41,Bank of America,Financials,"$171,912","$26,515","212,985",United States
41,42,General Motors,Automotive,"$171,842","$10,127","163,000",United States
42,43,Elevance Health,Healthcare,"$171,340","$5,987","104,900",United States
43,44,BMW Group,Automotive,"$168,103","$12,205","154,950",Germany
44,45,Tata Group,Conglomerate,"$165,500","$12,205","1,028,000",India
45,46,Mercedes-Benz Group,Automotive,"$165,638","$15,417","166,056",Germany
46,47,China Railway Construction Corporation,Construction,"$160,847","$1,701","336,433",China
47,48,Baowu,Steel,"$157,216","$2,494","258,697",China
48,49,Citigroup,Financials,"$156,820","$9,228","237,925",United States
49,50,Centene Corporation,Healthcare,"$153,999","$2,702","67,700",United States

In [9]:
df.to_csv(r'companies.csv', index = False)